@font-face {
	font-family: Quicksand;
	src: url(../assets/fonts/Quicksand-Medium.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: OpenSans;
	src: url(../assets/fonts/OpenSans-Medium.ttf);
}


:root{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

.header-wrapper{
	margin: 19px 117px;
    display: flex;
    align-items: center;

}

.header__logo{
	width: 26px;
	height: 26px;
	background-color: #5E81FE;
	border-radius:	26px;
	margin-right: 73px;
}

.header__menu>a {
	display: inline-block;
	text-decoration: none;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	color: #697CA6;
	transition: all 0.3s;
	text-shadow: 0px 0px 5px 0px #E6E6E6;
}
.header__menu>a:not(:last-child){
	margin-right: 42px;
}

.header__menu>a:hover{
	color: #5E81FE;
}

.header__get-started-btn{
	border: none;
	width: 113px;
	height: 43px;
	background: #D2E1FF;
	border-radius: 5px;
	margin-left: 44px;
	margin-right: 0;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	color: #3A79FF;
	transition: all 0.3s;
}

.header__get-started-btn:hover{
	cursor: pointer;
	background: #FFD7D7;
	color: #D43F3F;
}

.header__social{
	display: flex;
    margin-left: 361px;
    align-items: center;
}

.header__social-pic:not(:last-child){
	margin-right: 35px;
}

.social-pic-filter{
	transition: all 0.2s;
}

.social-pic-filter:hover{
	filter: invert(48%) sepia(70%) saturate(2515%) hue-rotate(204deg) brightness(97%) contrast(86%);
}

.hero-image{
	background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
	height: 570px;
	width: 100%;
}

.hero-text{
	margin-left: auto;
	margin-right: auto;
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 592px;
}
.hero-text>p {
	display: block;
	margin: 0;
	padding: 0;
}

.hero-text__btn{
	display: block;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	width: 52px;
	height: 52px;
	border-radius: 52px;
	background-image: url(../assets/images/play-btn.svg);
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
}

.hero-text>p:nth-child(1){
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3D4F9F;
	margin-bottom: 16px;
	margin-top: 92px;
}
.hero-text>p:nth-child(2){
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 60px;
	color: #3D4F9F;
}

.hero-text>p:nth-child(2)>span{
	font-weight: bold;
}

.hero-text>p:nth-child(3){
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #8D96BD;
	max-width: 502px;
	max-height: 78px;
	margin-top: 28px;
}

.hero-text>a{
	margin-top: 20px;
}

.hero-image__vector-bg{
	background-image: url(../assets/images/vector-bg.svg);
	height: 347px;
	width: 1440px;
	position: relative;
	bottom: 120px;
}
.hero-image__vector-line{
	background-image: url(../assets/images/vector-line.svg);
	height: 309px;
	width: 1440px;
	position: relative;
	bottom: 470px;
}

.customers {
	height: auto;
}
.customers__wrapper{
	margin: 58px 276px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.customers__wrapper>a{
	display: block;
	transition: all 0.3s;
}

.customers__wrapper>a:hover{
	filter: invert(48%) sepia(70%) saturate(2515%) hue-rotate(204deg) brightness(97%) contrast(86%);
}

/* Start Plan-manage section*/

.plan-manage{
	background-color: #F5F8FF;
	height: 776px;
}

.plan-manage__text {
	margin: 0;
	padding-top: 208px;
	display: flex;
	width: 413px;
	height: 352px;
	margin-left: 271px;
	align-items: flex-start;
	flex-direction: column;
}
.plan-manage__text>p{
	display: block;
	margin: 0;
}

.plan-manage__text>p:nth-child(1){
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3D4F9F;
	margin-bottom: 27px;
}
.plan-manage__text>p:nth-child(2){
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 45px;
	color: #3D4F9F;
	margin-bottom: 27px;
}

.plan-manage__text>p:nth-child(3){
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 29px;
	letter-spacing: 0.03em;
	color: #8D96BD;
	margin-bottom: 47px;
}
.plan-manage__text-icons{
	display: flex;
	flex-direction: row;
}
.plan-manage__text-icons>button{
	cursor: pointer;
	width: 130px;
	height: 43px;
	border: 1px solid #D1D1E4;
	color: #ADB4D2;
	background-color: rgba(76, 133, 255, 0);
	font-family: "Quicksand";
	font-size: 13px;
    line-height: 16px;
	transition: all 0.3s;
}
.plan-manage__text-icons>button:nth-child(1)::after{
	content: "▶";
}

.plan-manage__text-icons>button:hover{
	color: #FFFFFF;
	background-color: rgba(76, 133, 255, 1);
}

.plan-manage-illustration{
	display: block;
	background-image: url(../assets/images/plan-manage/illustration.png);
	width: 854px;
	height: 736px;
	background-repeat: no-repeat;
	position: relative;
	left: 600px;
	bottom: 450px;
}

	/* start Features Section */

.features__content{
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	width: 761px;
	height: 543px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.features__content-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 171px;
}
.features__content-title>p:nth-child(1){
	display: block;
	margin: 0;
	margin-bottom: 20px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3D4F9F;
}
.features__content-title>p:nth-child(2){
	display: block;
	margin: 0;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	color: #3D4F9F;
}

.features__content-features{
	display: flex;
}

/* 4 блока: Overview, Files, meetings chats, save events*/

.features-style{
	display: flex;
	margin-right: 67px;
	margin-top: 92px;
	max-width: 140px;
	max-height: 254px;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}
.features-style>a{
	display: block;
	z-index: 2;
}

.features-style :nth-child(2){
	display: block;
	margin: 0;
	padding: 0;
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	color: #4074F8;
}
.features-style :nth-child(3){
	display: block;
	margin: 0;
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 19px;
	text-align: center;
	color: #ADB3CB;
}

.features-style:nth-child(4){
	margin-right: 0px;
}

/* Кнопки Read more, Get Started */

.features__get-started-btn{
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	width: 113px;
	height: 43px;
	background: #D2E1FF;
	border-radius: 2px;
	margin-left: 48px;
}

.features__read-more-btn{
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	width: 113px;
	height: 43px;
	background: #D2E1FF;
	border-radius: 2px;
}

.features__content-buttons{
	display: flex;
	margin: 0;
	margin-top: 92px;
}

.features__content-buttons>p{
	font-family: 'OpenSans';
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 19px;
	text-align: center;
	color: #ADB3CB;
}

.features__get-started-btn{
	cursor: pointer;
	border: none;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	color: #3A79FF;
	margin-right: 48px;
}
.features__get-started-btn:hover{
	background: #FFD7D7;
	color: #D43F3F;
}

.features__read-more-btn{
	cursor: pointer;
	border: none;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	color: #3A79FF;
	margin-right: 48px;
}

.features__read-more-btn:hover{
	background: #FFD7D7;
	color: #D43F3F;
}

.features-clouds{
	position: absolute;
	width: 1201px;
	height: 543px;
	background-image: url(../assets/images/features/clouds.svg);
	background-size: cover;
	z-index: 1;
}

	/* Start Stats Section */

.stats__wrapper{
	display: flex;
	margin: 0;
	margin-top: 172px;
}

.stats__customers{
	display: flex;
	width: 720px;
	height: 342px;
	background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
	flex-direction: column;
    align-items: flex-end;
}
.stats__customers :nth-child(1){
	display: block;
	margin: 0;
	height: 68px;
	width: 68px;
	margin-right: 90px;
	margin-top: 67px;
}
.stats__customers :nth-child(2),.stats__customers :nth-child(3){
	display: block;
	margin: 0;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 83px;
	text-align: right;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	margin-right: 90px;
	
}
.stats__customers :nth-child(3){
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	width: 260px;
	margin-bottom: 66px;
}

.stats__users{
	display: flex;
	width: 720px;
	height: 342px;
	background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
	flex-direction: column;
    align-items: flex-start;
}

.stats__users :nth-child(1){
	display: block;
	margin: 0;
	height: 68px;
	width: 68px;
	margin-left: 90px;
	margin-top: 67px;
}
.stats__users :nth-child(2){
	display: block;
	margin: 0;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 83px;
	text-align: left;
	letter-spacing: 0.03em;
	color: #5E80FF;
	margin-left: 90px;
	
}
.stats__users :nth-child(3){
	display: block;
	margin: 0;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	text-align: left;
	letter-spacing: 0.03em;
	color: #5E80FF;
	width: 260px;
	margin-left: 90px;
	margin-bottom: 66px;
}